@import 'utils';

.home-notice-list {
    @include padding(6em, 0);
    border-top: solid 2px _palette(border);

    &:first-of-type {
        border-top: 0 !important;
    }

    @include breakpoint(xlarge) {
        @include padding(5em, 0);
    }

    @include breakpoint(large) {
        @include padding(4em, 0);
    }

    @include breakpoint(small) {
        @include padding(3em, 0);
    }

    header {
        h2 {
            font-size: (1.25em / 0.9);
        }
		&.major {
			> :last-child {
				border-bottom: solid 3px _palette(accent);
				display: inline-block;
				margin: 0 0 _size(element-margin) 0;
			 	padding: 0 0.75em 0.5em 0;
			}
		}
    }
    .more {
        text-align: right;
        margin-right: 10px;

        a {
            border-bottom: none;
            color: black;
            font-weight: bolder
        }
    }
    .table-wrapper {
		-webkit-overflow-scrolling: touch;
        overflow-x: auto;
        
        table {
            margin: 0 0 _size(element-margin) 0;
            width: 100%;
    
            tbody {
                tr {
                    border: solid 1px _palette(border);
                    border-left: 0;
                    border-right: 0;
    
                    &:nth-child(2n + 1) {
                        background-color: _palette(border-bg);
                    }
                }
            }
    
            td {
                padding: 0.75em 0.75em;
            }
    
            th {
                color: _palette(fg-bold);
                font-size: 0.9em;
                font-weight: _font(weight-bold);
                padding: 0 0.75em 0.75em 0.75em;
                text-align: left;
            }
    
            thead {
                border-bottom: solid 2px _palette(border);
            }    
        }
	}
}